@font-face {
    font-family: 'JosefinSans';
    src: url('../assets/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    overflow: hidden;
    background-color: #cbd5e1;
}

.experience {
    position: fixed;
    width: 100vw;
    height: 100vh;
    /* -webkit-mask-image: url(#intro);
    mask-image: url(#intro); */
}

a {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    /* position: fixed; */
}

h1,
a {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-height: 500px;
}

.root {
    display: none
}

.timeline {
    position: fixed;
    right: 50px;
    height: 100vh;
    /* width: 5vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sceneList>li {
    list-style: none;
}

#sceneList>li+li {
    margin-top: 50px;
}

#sceneList>li>a {}

#sceneList>li .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sceneList>li>a.active .circle {
    border: 1px solid white;
}

#sceneList>li .btnScene {
    width: 24px;
    height: 24px;
    background-image: url(../assets/polygon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#sceneList>li>a.active .btnScene {
    background-image: url(../assets/polygonActive.svg);
}

.beforeComplete {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: transparent;
    text-transform: uppercase;
    border: solid white;
    margin-top: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer
}

#transition {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    pointer-events: none;
}

#transition>img {
    width: 100%;
    height: 100%;
}

.generique {
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    display: flex;
    pointer-events: none;
    transform: translateY(100%)
}

.generique__title {
    width: 80%;
    margin-bottom: 35px;
    max-width: 500px;
}

.generique__title img {
    width: 100%;
}

.generique.active {
    transform: translateY(0%);
    transition: 5s transform 20s ease-in-out;
}

.generique__content {
    font-size: 32px;
    font-family: JosefinSans;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-bottom: 2rem;
    text-align: center;
}

.generique__content__item {
    margin-bottom: 2rem;
}

.generique__content__item h2 {
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 25px;
}

.generique__content__item img {
    width: 35%;
}