* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    overflow: hidden;
    background-color: #cbd5e1;
}

.experience {
    position: fixed;
    width: 100vw;
    height: 100vh;
    /* -webkit-mask-image: url(#intro);
    mask-image: url(#intro); */
}

a {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    /* position: fixed; */
}

h1,
a {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-height: 500px;
}

.timeline {
    position: fixed;
    right: 50px;
    height: 100vh;
    /* width: 5vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sceneList>li {
    list-style: none;
}

#sceneList>li + li {
    margin-top: 50px;
}

#sceneList>li>a {}

#sceneList>li .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sceneList>li>a.active .circle {
    border: 1px solid white;
}

#sceneList>li .btnScene {
    width: 24px;
    height: 24px;
    background-image: url(../assets/polygon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#sceneList>li>a.active .btnScene {
    background-image: url(../assets/polygonActive.svg);
}

.beforeComplete {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    /* opacity: 0.2; */
}


button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    border: solid white;
    margin-top: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:hover {
    cursor: pointer
}

#transition {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    pointer-events: none;

}

#transition>img {
    width: 100%;
    height: 100%;
}